.menu-bar{
    -fx-background-color: #121212;
}
.menu-bar .label{
    -fx-text-fill: #c7bfbf;
}
.menu-item{
    -fx-background-color: #121212;
}
.menu{
    -fx-border-color: #121212;
}
.separator{
    -fx-background-color: #121212;
}
.menu-item:hover{
    -fx-background-color: #565353;
}

#receipt_output_content_pane{
    -fx-background-color: #212020;
}
.context-menu {
    -fx-background-color: #121212;
}
.button{
    -fx-text-fill: white;
    -fx-background-color: #121212;
}
.receipt-item-view {
    -fx-background-color: #121212;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.receipt-item-view .label {
    -fx-text-fill: #c7bfbf;
}
.anchor-pane{
    -fx-background-color: #212020;
}
.anchor-pane .label{
    -fx-text-fill: white;
}
.scroll_pane{
    -fx-background-color: #121212;
}
#mass_field{
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}
#anchor_pane_print{
    -fx-background-color: #121212;
}
#text_field{
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}

