.menu-bar{
    -fx-background-color: #121212;
}
.menu-bar .label{
    -fx-text-fill: #c7bfbf;
}
.menu-item{
    -fx-background-color: #121212;
}
.menu{
    -fx-border-color: #121212;
}
.separator{
    -fx-background-color: #121212;
}
.menu-item:hover{
    -fx-background-color: #565353;
}

#receipt_output_content_pane{
    -fx-background-color: #212020;
}
.context-menu {
    -fx-background-color: #121212;
}
.button{
    -fx-text-fill: #c7bfbf;
    -fx-background-color: #121212;
}
.receipt-item-view {
    -fx-background-color: #121212;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.receipt-item-view .label {
    -fx-text-fill: #c7bfbf;
}
.anchor-pane{
    -fx-background-color: #212020;
}
.anchor-pane .label{
    -fx-text-fill: #c7bfbf;
}
.scroll_pane{
    -fx-background-color: #121212;
}
#mass_field{
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}
#anchor_pane_print{
    -fx-background-color: #121212;
}
#text_field_tableview{
    -fx-background-color: #121212;
}
#landscape{
    -fx-text-fill: #c7bfbf;
}
#portrait{
    -fx-text-fill: #c7bfbf;
}
#amount{
    -fx-text-fill: #c7bfbf;
}
#pryanik_name_printpreview{
    -fx-text-fill: #c7bfbf;

}
#print_button{
    -fx-border-color: #c7bfbf;
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}
#anchor_pane_greeting{
    -fx-background-color: #121212;
}
#ok{
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}
#cancel{
    -fx-background-color: #121212;
    -fx-text-fill: #c7bfbf;
}
#file_label{
    -fx-text-fill: #c7bfbf;
}
#label_greeting{
    -fx-text-fill: #c7bfbf;
}
#text_field{
    -fx-text-fill: #c7bfbf;
    -fx-background-color: #121212;
}
#quantity{
    -fx-text-fill: #c7bfbf;
    -fx-background-color: #121212;
}
.table-view .scroll-bar * {
        -fx-min-width: 0;
        -fx-pref-width: 0;
        -fx-max-width: 0;

        -fx-min-height: 0;
        -fx-pref-height: 0;
        -fx-max-height: 0;
}



